*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.box {
    /* border: 2px solid rgb(0, 0, 255); */
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    width: 80vh;
    height: 80vh;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
}

.carta {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
     user-select: none;
     background-position: center;
     background-size: cover;
}


#ranking {
    margin-top: 20px;
    /* fixando ele na lateral esquerda */
    position: absolute;
    left: 20px;
    top: 60px;
}